In [3]:
import pandas as pd
df = pd.read_csv('/home/ssmd/Документы/pandas/m6(methodDF)/data_sf.csv') 
df
# ВИДИШЬ СУКА ОН  ОГРОМНЫЙ  И ВЕСЬ  НА СТРАНИЦУ НЕ  ЛЕЗЕТ 
# МНЕ НУЖНА  ЧАСТЬ  ВОТ Я ЕЕ  ЗАДАЛ ниже  8 колонок 25  строк 
small_football = df[df.columns[1:8]].head(25)
small_football

,Name,Age,Nationality,Club,Value,Wage,Position
0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF
1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST
2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW
3,De Gea,27,Spain,Manchester United,72000000,260000,GK
4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM
5,E. Hazard,27,Belgium,Chelsea,93000000,340000,LF
6,L. Modrić,32,Croatia,Real Madrid,67000000,420000,RCM
7,L. Suárez,31,Uruguay,FC Barcelona,80000000,455000,RS
8,Sergio Ramos,32,Spain,Real Madrid,51000000,380000,RCB
9,J. Oblak,25,Slovenia,Atlético Madrid,68000000,94000,GK
10,R. Lewandowski,29,Poland,FC Bayern München,77000000,205000,ST
11,T. Kroos,28,Germany,Real Madrid,76500000,355000,LCM
12,D. Godín,32,Uruguay,Atlético Madrid,44000000,125000,CB
13,David Silva,32,Spain,Manchester City,60000000,285000,LCM
14,N. Kanté,27,France,Chelsea,63000000,225000,LDM
15,P. Dybala,24,Argentina,Juventus,89000000,205000,LF
16,H. Kane,24,England,Tottenham Hotspur,83500000,205000,ST
17,A. Griezmann,27,France,Atlético Madrid,78000000,145000,CAM
18,M. ter Stegen,26,Germany,FC Barcelona,58000000,240000,GK
19,T. Courtois,26,Belgium,Real Madrid,53500000,240000,GK
20,Sergio Busquets,29,Spain,FC Barcelona,51500000,315000,CDM
21,E. Cavani,31,Uruguay,Paris Saint-Germain,60000000,200000,LS
22,M. Neuer,32,Germany,FC Bayern München,38000000,130000,GK
23,S. Agüero,30,Argentina,Manchester City,64500000,300000,ST
24,G. Chiellini,33,Italy,Juventus,27000000,215000,LCB

In [2]:
s = small_df['Age'].value_counts()
s

NameError: name 'small_df' is not defined

In [ ]:
s = small_df['Age'].value_counts(normalize=True)
s

In [ ]:
fb = df
fb
fb.describe(include = ['object'])
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(fb.head(10))
fb.describe()

In [ ]:
s = small_df['Age'].value_counts(bins=4)
display(s)

In [ ]:
s = small_df['Wage'].value_counts(bins=4)
display(s)

In [ ]:
small_df.loc[(small_df['Wage'] > s.index[3].left) & (small_df['Wage'] <= s.index[3].right)]

In [ ]:
s.index[3].left

In [ ]:
s.index[3].right

In [ ]:
# df.loc[(df['FKAccuracy'] > s.index[-1].left) & (df['FKAccuracy'] <= s.index[-3].right)]

In [ ]:
# fk = df['FKAccuracy'].value_counts()
# fk = df['FKAccuracy'].value_counts(normalize=True)

fk = df['FKAccuracy'].value_counts(bins= 5)
fk

In [ ]:
df
df['Nationality'].nunique()

In [ ]:
# result = len(df['Position'].unique())
# result = df['Position'].unique()
# result = df['Position'].count()
result = len(df['Position'].value_counts())
result

In [ ]:
import pandas as pd
df = pd.read_csv('/home/ssmd/Документы/pandas/data_sf.csv') 
# fk = df['Nationality'].value_counts()
df[df.Nationality == 'Spain'].Wage.value_counts(normalize=True, bins=4)

In [ ]:
df[df.Club == 'Manchester United'].Nationality.unique()

In [ ]:
df[(df.Club == 'Juventus') & (df.Nationality == 'Brazil')].Name.unique()

In [ ]:
df[df.Age > 35].Club.value_counts().loc['Club Atlético Huracán']

In [ ]:
df[df.Nationality == 'Argentina'].Age.value_counts(bins=4)

In [ ]:
df[(df.Nationality == 'Spain')].Age.value_counts(normalize=True).loc[21]
#    & (df.Age == 21)].Age(21).value_counts(normalize=True)

In [ ]:
grouped_df = df.groupby(['Club'])['Wage'].sum().head(25)
display(grouped_df)

In [4]:
grouped_df = df.groupby(['Club'])['Wage'].sum().sort_values(ascending=False).head(25)
grouped_df

Club
Real Madrid            4138000
FC Barcelona           3967000
Manchester City        3097000
Manchester United      2357000
Juventus               2335000
Liverpool              2163000
FC Bayern München      2051000
Chelsea                2035000
Tottenham Hotspur      1841000
Arsenal                1795000
Paris Saint-Germain    1620000
West Ham United        1221000
Atlético Madrid        1143000
Milan                  1134000
Napoli                 1042000
Everton                1014000
Inter                   949000
Roma                    854000
Borussia Dortmund       789000
AS Monaco               770000
Leicester City          744000
Bayer 04 Leverkusen     684000
Lazio                   628000
Burnley                 606000
Olympique Lyonnais      580000
Name: Wage, dtype: int64

In [ ]:
df.groupby(['Nationality'])[['Wage','Age','ShotPower']].mean()

In [ ]:
df.groupby(['Nationality'])[['Wage','Age','ShotPower']].mean()

In [ ]:
df.groupby(['Nationality'])[['Wage','Age','ShotPower']].mean()

In [ ]:
df.groupby(['Nationality'])[['Wage','Age','ShotPower']].mean()

In [ ]:
df.groupby(['Nationality'])[['Wage','Age','ShotPower']].mean().sort_values(['Wage'],ascending=False).head(10)

In [ ]:
df.loc[df['Nationality'] == 'Dominican Republic'][['Name','Club','Wage','Age','ShotPower']]

In [ ]:
df.groupby(['Position'])[['Wage','Value']].mean().sort_values(['Value'],ascending=False).head(10)

In [ ]:

# s = [df.groupby(['Club'])['Wage'].mean() == df.groupby(['Club'])['Wage'].median()].unique()
# #     if i == True:
#         print(s.loc['Club'])
# gg
gg = df.groupby(['Club'])['Wage'].agg(['mean','median'])

# gg(['Position'])[['Wage','Value']].mean().sort_values(['Value'],ascending=False).head(10)
gg = gg.reset_index()
gg = gg[gg['mean'] == gg['median']].Club
gg
# gg = gg.groupby(['Club'])[['mean','median']].max().sort_values(['mean'],ascending=False)
gg

In [ ]:
gg=df.groupby(['Club'])['Wage'].agg(['mean','median'])
gg
# gg[gg['mean'] == gg['median']])
# gg=gg[gg['mean'] == gg['median']].max()
# gg.iloc[0]

In [ ]:
gg = df.groupby(['Club'])['Wage'].agg(['mean','median'])

# gg
gg = gg[gg['mean'] == gg['median']].sort_values(['mean'],ascending=False)
gg = gg.reset_index()
gg

In [ ]:
# gg=gg[gg['mean'] == gg['median']].Club.max()

In [ ]:
grouped_df = df.groupby(['Club'])['Wage'].sum().sort_values(ascending=False)
# grouped_df = grouped_df['Club' == 'Chelsea']
grouped_df['Chelsea']

In [6]:
df[(df.Age == 30)]

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
23,23,S. Agüero,30,Argentina,Manchester City,64500000,300000,ST,70,93,...,83,90,30,20,12,13,15,6,11,14
35,35,Marcelo,30,Brazil,Real Madrid,43000000,285000,LB,90,70,...,59,86,71,85,86,12,5,5,5,9
38,38,G. Higuaín,30,Argentina,Milan,57000000,245000,LS,68,92,...,70,86,35,22,18,5,12,7,5,10
52,52,M. Hamšík,30,Slovakia,Napoli,46500000,125000,LCM,78,79,...,70,84,75,73,62,8,6,4,14,14
53,53,I. Rakitić,30,Croatia,FC Barcelona,46500000,260000,RCM,84,83,...,82,81,72,74,70,14,11,12,5,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11070,11291,P. O'Conor,30,Republic of Ireland,Bray Wanderers,100000,1000,RCM,57,55,...,56,54,36,53,53,7,6,11,16,15
11684,11909,Zhu Xiaogang,30,China PR,Dalian YiFang FC,70000,2000,CDM,25,21,...,41,51,49,62,57,16,11,14,10,16
11770,11997,J. Sinclair,30,England,Morecambe,525000,1000,RB,51,43,...,36,42,50,50,52,8,15,10,7,11
12550,12779,A. Ekblad,30,Sweden,Dalkurd FF,40000,1000,CB,23,17,...,28,41,45,55,53,13,7,5,7,12
12552,12781,P. Azizi,30,Sweden,Dalkurd FF,40000,1000,CB,28,16,...,28,38,46,56,53,10,6,6,7,10

In [ ]:
df[(df.Club == 'FC Barcelona') & (df.Nationality == 'Argentina')].Strength.max()
df[(df.Club == 'FC Barcelona') & (df.Nationality == 'Argentina')].Balance.max()

In [ ]:
df[(df.Club == 'FC Barcelona') & (df.Nationality == 'Argentina')][['Strength', 'Balance']].max()

In [ ]:
pivot = df.loc[df['Club'].isin(['AS Monaco'])].pivot_table(values='Wage',
index='Nationality',
columns='Club')

# aggfunc='sum')
display(pivot)

In [3]:
pivot['Russia']

NameError: name 'pivot' is not defined

In [ ]:
pivo = df.pivot_table(
values='SprintSpeed',
index=['Club'],
columns=['Position'],
aggfunc='mean',
fill_value=0)
pivo['ST'].sort_values(ascending=False)

In [ ]:
pivo['GK']

In [ ]:
pivo['CM'].value_counts()

In [ ]:
pivot = df.pivot_table(columns='Position', index = 'Club', values = 'Name', aggfunc='count', fill_value=0)
pivot

In [ ]:
pivot['CM'].value_counts()

In [ ]:
pivot = df.loc[df['Name'].isin([])].pivot_table(values='Positions',
index='Nationality',
columns='Posinion,
aggfunc='sum')
display(pivot)

In [ ]:
pivot = df.pivot_table(columns='Position', index = 'Name', values = 'SprintSpeed', aggfunc='sum', fill_value=0)
pivot

In [ ]:
df.info()

In [ ]:
pivot = df.loc[df['Position'].isin(['ST'])].pivot_table(values=['SprintSpeed'],
index=['Club','Name'],
columns=['Position'],
aggfunc=['mean'],
fill_value=0)
display(pivot)
# pivot['ST'].sort_values(ascending=False)

In [ ]:
df = pd.read_csv('data_sf.csv')
pivot = df.pivot_table(values=['SprintSpeed'],
                       index=['Club'],
                       columns=['Position'],
                       aggfunc='mean',
                       margins=True,
                       fill_value=0)
pivot['SprintSpeed'].max()
# pivot.max().sort_values(ascending=False)

In [ ]:
pivot = df.loc[df['Position'].isin(['RB','LM','RM','CF','RWM','RS'])].pivot_table(values=['SprintSpeed'],
index=['Club'],
columns=['Position'],
aggfunc=['mean'],
fill_value=0)
display(pivot)
co = len(df['Club'].value_counts())
na = len(df['Name'].value_counts())
display(co)
# result = len(df['Position'].value_counts())
# pivot.max().sort_values(ascending=False)
df.info()